<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MYProfilo</title>

    @RenderSection("SEO", required: true)

    <link href="~/css/skel.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/style-xlarge.css" rel="stylesheet" />

</head>
<body>

    <div id="main">
        @RenderBody()
    </div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.poptrox.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/init.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
