@{
    ViewData["Title"] = "Home Page";
}

@section SEO
    {
    <meta name="keywords" content="project, my project, my personal project" />
    <meta name="description" content="index description" />
}

<h1>soheil yazdiii</h1>