
@{
    ViewData["Title"] = "Home Page";
}

@section SEO
    {
    <meta name="keywords" content="project, my project, my personal project" />
    <meta name="description" content="index description" />
}

<section id="one">
    <header class="major">
        <h2>
            @ViewData["headingTitle"]
        </h2>
    </header>
    <p>
        @ViewBag.headingText
    </p>
</section>
